version: '3.8'

services:
  # 1. Base de Datos (SQL Edge - Versión ligera para no saturar tu RAM)
  db:
    image: mcr.microsoft.com/azure-sql-edge:latest
    container_name: hr_sql_standalone
    restart: always
    user: root
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=PasswordFuerte123!
      - MSSQL_PID=Developer
      - MSSQL_USER=sa
    ports:
      - "1433:1433"
    volumes:
      - sql_data_standalone:/var/opt/mssql
    networks:
      - hr_standalone_network
    deploy:
      resources:
        limits:
          memory: 512M # Limitamos para dejar RAM libre a tu Odoo

  # 2. Message Broker (RabbitMQ Alpine - Versión ligera)
  rabbitmq:
    image: rabbitmq:3-alpine
    container_name: hr_rabbit_standalone
    restart: always
    ports:
      - "5672:5672"
    networks:
      - hr_standalone_network
    deploy:
      resources:
        limits:
          memory: 150M

  # 3. Tu API .NET 8 (HRManagement)
  api:
    image: hrmanagement-api:latest
    container_name: hr_api_standalone
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080" # Swagger estará en el puerto 8080
      - "8081:8081"
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ASPNETCORE_URLS=http://+:8080
      # Conexión interna a los servicios de ESTE archivo
      - ConnectionStrings__DefaultConnection=Server=db;Database=HRManagementDb;User Id=sa;Password=PasswordFuerte123!;TrustServerCertificate=True;
      # Configuración de Seguridad (Misma que pusimos en Windows)
      - Jwt__Key=EstaEsUnaClaveSecretaMuyLargaYSeguraParaTuProyecto123!
      - Jwt__Issuer=HRManagement
      - Jwt__Audience=HRManagementUsers
    volumes:
      - ./appsettings.json:/app/appsettings.json

    depends_on:
      - db
      - rabbitmq
    networks:
      - hr_standalone_network
    deploy:
      resources:
        limits:
          memory: 256M
  nginx:
    image: nginx:alpine
    container_name: hr_nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    extra_hosts:
      - "host.docker.internal:host-gateway"
    networks:
      - hr_standalone_network


networks:
  hr_standalone_network:
    driver: bridge

volumes:
  sql_data_standalone:
